<mat-sidenav-container>
  <mat-sidenav #sidebar mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
        </mat-toolbar>
      </div>
      <div class="main">
        <div
          class="d-flex flex-column flex-sm-row justify-content-between align-middle text-center col-12"
        >
          <div class="col-12 col-sm-4">
            <h1>Rentas</h1>
          </div>
          <div class="col-12 col-sm-4">
            <mat-form-field class="w-100" appearance="outline">
              <input
                matInput
                [formControl]="search"
                placeholder="Ingresa tu busqueda"
              />
            </mat-form-field>
            <div>
              <button mat-button class="btn-save" [matMenuTriggerFor]="menu">Filtrar por</button>
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="selectMenu('All')">Todas</button>
              <button mat-menu-item (click)="selectMenu('waiting_to_deliver')">Esperando a entregar</button>
              <button mat-menu-item (click)="selectMenu('delivered')">Entregada</button>
              <button mat-menu-item (click)="selectMenu('canceled')">Cancelada</button>
              <button mat-menu-item (click)="selectMenu('collect')">Recogida</button>
            </mat-menu>
          </div>
          <div class="col-12 col-sm-4">
            <button mat-raised-button class="btn-save" (click)="openDialogCreateRent()">
              Nueva Renta
            </button>
          </div>
        </div>
        <app-table-rents [rents_data]="rents_data"></app-table-rents>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
