<div class="row mt-3">
  <div>
    <h2>
      Lavadoras disponibles: <strong>{{ machines_available.length }}</strong>
    </h2>
  </div>

  <div class="col-xs-3 col-md-4 mb-3 col-12" *ngFor="let item of rents_data">
    <div class="card p-3">
      <span *ngIf="item.requested_date"
        >Fecha solicitada:
        <strong>{{ item.requested_date | date : "dd/MM/yyyy" }}</strong></span
      >
      <span *ngIf="item.delivered_date"
        >Fecha entregada:
        <strong>{{ item.delivered_date | date : "dd/MM/yyyy" }}</strong></span
      >
      <span *ngIf="item.canceled_date"
        >Fecha cancelada:
        <strong>{{ item.canceled_date | date : "dd/MM/yyyy" }}</strong></span
      >
      <span *ngIf="item.collect_date"
        >Fecha recoger:
        <strong>{{ item.collect_date | date : "dd/MM/yyyy" }}</strong></span
      >
      <span
        >Cliente:
        <strong
          >{{ getClient(item.client).name }}
          {{ getClient(item.client).last_name }}</strong
        ></span
      >
      <span
        >Lavadora: <strong>{{ getMachine(item.machine) }}</strong></span
      >
      <span
        >Fecha inicio:
        <strong>{{ item.start_date | date : "dd/MM/yyyy" }}</strong></span
      >
      <span
        >Fecha final:
        <strong>{{ item.finish_date | date : "dd/MM/yyyy" }}</strong></span
      >
      <span
        >Dias para vencimiento: {{ getExpirationDay(item.finish_date) }}</span
      >
      <span class="mt-2"
        >Estado:
        <strong
          [ngClass]="{
            'green': item.status === 'delivered',
            'red': item.status === 'canceled',
            'orange': item.status === 'waiting_to_deliver',
            'blue': item.status === 'collect'
          }"
          style="padding: 5px; border-radius: 4px; color: white"
          >{{ getStatus(item.status) }}</strong
        ></span
      >
      <div class="col-12 d-flex mt-2">
        <button
          mat-raised-button
          class="me-2 btn-save col-6"
          (click)="checkRent(item)"
          *ngIf="item.status === 'waiting_to_deliver'"
        >
          Entregada
        </button>
        <button
          mat-raised-button
          class="me-2 btn-save col-6"
          (click)="checkCollect(item)"
          *ngIf="item.status === 'delivered'"
        >
          Recoger
        </button>
        <button
          *ngIf="item.status != 'canceled' && item.status != 'collect'"
          mat-stroked-button
          color="warn"
          class="col-6"
          (click)="cancelRent(item)"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
