<div class="row mt-3">
  <div class="table-responsive mt-4">
    <table class="table text-nowrap">
      <thead>
        <tr>
          <th>
            Estatus
            <i
              class="fa-solid fa-caret-up mx-2"
              [ngClass]="
                changeColumnStatus === true
                  ? 'fa-solid fa-caret-down'
                  : 'fa-solid fa-caret-up'
              "
              (click)="changeStatus()"
            ></i>
          </th>
          <th>
            Cliente
            <i
              class="fa-solid fa-caret-up mx-2"
              [ngClass]="
                changeColumnClient === true
                  ? 'fa-solid fa-caret-down'
                  : 'fa-solid fa-caret-up'
              "
              (click)="changeClient()"
            ></i>
          </th>
          <th>Telefono numerico</th>
          <th>
            Direccion
          </th>
          <th>Fecha</th>
          <th class="last">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let rent of rents_data
              | paginate : { itemsPerPage: selectedValue, currentPage: page };
            index as i
          "
        >
          <td>
            <span
              [ngClass]="{
                'green-status': rent.status === 'ACTIVA',
                'blue-status': rent.status === 'CERRADA',
                'red-status': rent.status === 'VENCIDA',
                'orange-status': rent.status === 'PROXIMO A VENCER'
              }"
              style="border-radius: 4px; padding: 5px; color: white"
              >{{rent.status}}</span
            >
          </td>
          <td>
            <span>{{ getClient(rent.client).name }}</span>
          </td>
          <td>
            <span>{{ getClient(rent.client).phone_number }}</span>
          </td>
          <td>
            <span
            >{{ getClient(rent.client).street}}, #{{ getClient(rent.client).number_house }},
            {{ getClient(rent.client).suburb }}, C.P. {{ getClient(rent.client).postal_code }}</span
          >
          </td>
          <td>
            <span>{{rent.start_date | date: 'dd/MM/yyyy'}} - {{rent.finish_date | date: 'dd/MM/yyyy'}}</span>
          </td>
          <td class="last">
            <span style="cursor: pointer;" *ngIf="rent.status !== 'CERRADA'" (click)="closeRent(rent)">cerrar</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-12 d-flex flex-column-reverse flex-sm-row-reverse mt-3">
      <pagination-controls
        class="text-center m-0 p-0"
        (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="true"
      ></pagination-controls>
      <mat-form-field class="d-none">
        <mat-select [(value)]="selectedValue">
          <mat-option [value]="10">10</mat-option>
          <mat-option [value]="20">20</mat-option>
          <mat-option [value]="50">50</mat-option>
          <mat-option [value]="100">100</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
  </div>
</div>
