<header class="d-flex col-12 align-items-flex-end">
  <h2 mat-dialog-title class="col-10 p-0">Nueva Renta</h2>
  <div class="d-flex justify-content-end w-100">
    <i mat-dialog-close class="fa-light fa-xmark fa"></i>
  </div>
</header>
<div>
  <form [formGroup]="form">
    <div class="col-12 mb-3">
      <label>Cliente</label>
      <ng-select placeholder="Selecciona una opción" notFoundText="SIN RESULTADOS" [appendTo]="'body'"
        [clearable]="false" formControlName="client">
        <ng-option *ngFor="let item of clients_data" [value]="item.id">{{
          item.name
          }}, {{item.street}}, {{item.suburb}} </ng-option>
      </ng-select>
    </div>
    <div class="col-12">
      <label>Fecha de Renta</label>
      <mat-form-field class="w-100" appearance="outline" style="position: relative !important">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start_date" placeholder="Fecha inicio" />
          <input matEndDate formControlName="finish_date" placeholder="Fecha final" />
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"
          style="position: absolute !important; right: 0; top: 0.5px"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <mat-dialog-actions align="end" class="mat">
      <div></div>
      <div>
        <button mat-stroked-button color="warn" mat-dialog-close>
          Cancelar
        </button>
        <button mat-raised-button class="mx-2 btn-save" (click)="createElement()">
          Registrar renta
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>