mat-sidenav{
  background-color: #6D8299;
  width: 230px;
  height: 100vh;
}
mat-sidenav-content{
  height: 100vh;

  .main{
      margin: 20px;
  }
}
mat-toolbar{
  background-color: #B0BEC5;
  mat-icon{
    margin-left: 15px;
    color: white;
    cursor: pointer;
  }

}

button {
  background-color: #455A64;
  color: white;
}
