<mat-sidenav-container>
  <mat-sidenav #sidebar mode='over'>
      <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content">
          <div class="toolbar">
              <mat-toolbar>
                  <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
              </mat-toolbar>
          </div>
          <div class="main">
            <div class="flex-wrap row">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                <div class="card mb-3 p-3" style="display: flex;align-items: center;justify-content: center;">
                  <span style="font-size: 2rem; margin-bottom: 10px;"><strong>{{users.length}}</strong></span>
                  <h3 class="m-0">Usuarios</h3>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                <div class="card mb-3 p-3" style="display: flex;align-items: center;justify-content: center;">
                  <span style="font-size: 2rem; margin-bottom: 10px;"><strong>{{clients.length}}</strong></span>
                  <h3 class="m-0">Clientes</h3>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                <div class="card mb-3 p-3" style="display: flex;align-items: center;justify-content: center;">
                  <span style="font-size: 2rem; margin-bottom: 10px;"><strong>{{machines.length}}</strong></span>
                  <h3 class="m-0">Lavadoras</h3>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                <div class="card mb-3">Hola</div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                <div class="card mb-3">Hola</div>
              </div>
            </div>
          </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
