th {
  background-color: #B0BEC5;
  color: white;
  border-right: 1px solid;
  margin-bottom: 15px;
  vertical-align: middle;
}

.last {
  text-align: center;
  vertical-align: middle;

  a {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

td{
  vertical-align: middle;
}


i {
  cursor: pointer;
}

.fa-trash {
  font-size: 12px;
  color: #cc2727;
}

.fa-trash:hover {
  opacity: 0.5;
}

.fa-edit {
  font-size: 12px;
  color: dodgerblue;
}

.fa-edit:hover {
  opacity: 0.5;
}



