/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html, body { height: 100%; }
body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

mat-sidenav{
  background-color: #6D8299 !important;
  width: 230px !important;
  height: 100vh !important;
}

mat-sidenav-content{
  .main{
      height: calc(100vh - 64px)  !important;
      overflow-y: auto !important;
      padding: 20px;
  }
}

mat-toolbar{
  background-color: #B0BEC5 !important;
  position: sticky !important;
  z-index: 1;
  mat-icon{
    margin-left: 15px;
    color: white;
    cursor: pointer;
  }
}

.btn-save {
  background-color: #455A64 !important;
  color: white !important;
}

.blue-status {
  background-color: blue;
}

.red-status {
  background-color: red;
}

.green-status {
  background-color: green;
}

.orange-status {
  background-color: orange;
}


// tables
th {
  background-color: var(--tblr-626065);
  color: white;
  border-right: 1px solid;
  vertical-align: middle;
}

td {
  vertical-align: middle;
}

.table {
  background-color: white;
}
