<div class="table-responsive mt-4">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th></th>
        <th>
          Nombre
          <i
            class="fa-solid fa-caret-up mx-2"
            [ngClass]="
              changeColumnName === true
                ? 'fa-solid fa-caret-down'
                : 'fa-solid fa-caret-up'
            "
            (click)="changeName()"
          ></i>
        </th>
        <th>
          Apellido
          <i
            class="fa-solid fa-caret-up mx-2"
            [ngClass]="
              changeColumnLastName === true
                ? 'fa-solid fa-caret-down'
                : 'fa-solid fa-caret-up'
            "
            (click)="changeLastName()"
          ></i>
        </th>
        <th>
          Correo
          <i
            class="fa-solid fa-caret-up mx-2"
            [ngClass]="
              changeColumnEmail === true
                ? 'fa-solid fa-caret-down'
                : 'fa-solid fa-caret-up'
            "
            (click)="changeEmail()"
          ></i>
        </th>
        <th>
          Rol
          <i
          class="fa-solid fa-caret-up mx-2"
          [ngClass]="
            changeColumnRole === true
              ? 'fa-solid fa-caret-down'
              : 'fa-solid fa-caret-up'
          "
          (click)="changeRole()"
          ></i>
        </th>
        <th class="last">
          Acciones
        </th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-color" *ngFor="let user of users_data | paginate: { itemsPerPage: selectedValue, currentPage: page };
    index as i">
      <td class="text-center">
        <img style="width: 60px;height: 60px;" src="{{user.image_employee}}">
      </td>
      <td>
        <span>{{ user.name }}</span>
      </td>
      <td>
        <span>{{ user.last_name }}</span>
      </td>
      <td>
        <span>{{ user.email}}</span>
      </td>
      <td>
        <span>{{ user.rol === 'ADMIN' ? 'Administrador':''}}</span>
      </td>
      <td class="last">
        <i class="fa fa-edit me-4" (click)="editUserDialog(user)"></i>
        <i class="fa fa-trash" (click)="delete(user)"></i>
      </td>
    </tr>
  </tbody>
</table>
</div>
  <div class="col-12 d-flex flex-column-reverse flex-sm-row-reverse mt-3">
    <pagination-controls
      class="text-center m-0 p-0"
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      [responsive]="true"
    ></pagination-controls>
    <mat-form-field class="d-none">
      <mat-select [(value)]="selectedValue">
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="20">20</mat-option>
        <mat-option [value]="50">50</mat-option>
        <mat-option [value]="100">100</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
